<div
  class="absolute bg-white h-screen flex flex-col items-center p-24"
  [ngClass]="expand ? 'w-[371px]' : 'w-72'"
>
  <div class="w-full">
    <cwe-icon-button
      [name]="expand ? 'collapse' : 'hamburger'"
      variant="transparent"
      (btnClick)="toggleExpand()"
    ></cwe-icon-button>
  </div>
  <ul
    class="overflow-hidden flex flex-col justify-center gap-y-12 w-full h-full"
  >
    <li
      class="text-pl text-black whitespace-nowrap text-clip"
      *ngFor="let projectItem of projectsMapper | keyvalue"
    >
      <button
        class="flex gap-x-24 w-full h-[44px] hover:bg-primary hover:bg-opacity-5 hover:rounded-8 items-center"
        [ngClass]="expand ? 'p-6' : 'p-2 '"
        (click)="onClick(projectItem.key)"
      >
        <cwe-icon [name]="projectItem.value.key"></cwe-icon>
        <span *ngIf="expand">{{ projectItem.value.name }}</span>
      </button>
    </li>
  </ul>
</div>
