<section class="w-full h-screen px-105 flex justify-center items-center">
  <div class="grid grid-cols-2">
    <div class="font-raleway">
      <p class="font-bold text-h3 text-background">
        Hello,<br />
        My name is Daniel
      </p>
      <br />
      <p class="font-light text-h5 text-grey01">
        I'm a postgrad student at UTS, majored in Data Analytics. My areas of
        interest include problem-solving, cloud infrastructure, machine
        learning, and blockchain. I'm a dedicated Software Engineer with a
        passion for creating scalable and user-centric applications. With a
        proven track record in leading software development projects and winning
        hackathons, I thrive in innovative, fast-paced environments. I'm always
        eager to embrace new challenges and leverage my expertise to make a real
        difference.
      </p>
      <br />
      <a
        target="_blank"
        href="https://cwe-public.s3.ap-southeast-2.amazonaws.com/Resume.pdf"
        class="font-semibold text-h5 text-background underline"
        >Get My Resume</a
      >
    </div>
    <div class="relative">
      <img
        class="absolute z-30 top-[-13rem]"
        src="https://picsum.photos/618/648"
        alt=""
      />
      <div class="absolute w-[36rem] h-[34rem] bg-grey04 left-[10rem]"></div>
    </div>
  </div>
</section>
