<coffeewithegg-header></coffeewithegg-header>
<div class="w-full h-full p-72">
  <coffeewithegg-profile id="page-profile"></coffeewithegg-profile>
  <section
    class="w-full h-screen px-105 flex justify-center items-center"
    id="page-projects"
  >
    <ul
      class="grid mobile:grid-cols-3 tablet:grid-cols-3 desktop:grid-cols-5 bg-bg01"
    >
      <li *ngFor="let item of projects | keyvalue">
        <coffeewithegg-project-overview
          [project]="item.value"
          [redirectPath]="item.key"
        ></coffeewithegg-project-overview>
      </li>
    </ul>
  </section>
  <coffeewithegg-contact id="page-contact"></coffeewithegg-contact>
</div>
