<button class="container" (click)="onClick()">
  <cwe-card>
    <div class="subcontainer">
      <div
        *ngIf="project && project.technologies && project.technologies.length"
        class="technologies"
      >
        <span *ngFor="let tech of project.technologies">
          <cwe-icon [name]="tech.key"></cwe-icon>
        </span>
      </div>
      <div *ngIf="project" class="info text-center">
        <p class="text-background text-h6">{{ project.name }}</p>
        <p class="text-grey01 text-ps">{{ project.description }}</p>
      </div>
    </div>
  </cwe-card>
</button>
